@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

body {
    font-family: 'Lora', sans-serif;
}

button {
    font-family: 'Lora', sans-serif;
}

input {
    height: 25px;
}

.menu-button {
    height: 30px;
}

.centered-title {
    text-align: center;
}

#login-box {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    max-width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#login, #menu, #stats, #game1, #game2, #game3 {
    display: none;
}

#menu-box {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#stats-box {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    max-width: 400px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#back-to-menu {
    position: absolute;
    left: 3%;
    top: 4%;
    height: 40px;
}

#modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    opacity: 0.8;
}

#modal {
    position: absolute;
    top: 5%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    width: 30%;
    height: 35%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    z-index: 1000;
    box-shadow: 20px 20px 20px 10px rgb(0 0 0 / 20%);
    display: none;
}

#modal-button-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    bottom: 2px;
}

.modal-button {
    margin: 7px;
    height: 30px;
    flex: 1;
}

#modal-text {
    text-align: center;
}

#modal-restart-everything {
    display: none;
}

#timer {
    position: absolute;
    font-size: 40px;
    font-weight: 100;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}

#stats-box table, td, th {
    border: 2px solid black;
    text-align: center;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }