body {
    margin: 0;
}

.box {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#second {
    position: absolute;
    align-self: flex-start;
    color: #f70505;
    visibility: hidden;
}

#third {
    position: absolute;
    align-self: center;
    max-width: 170px;
    max-height: 170px;
    visibility: hidden;
}

#fourth {
    position: absolute;
    align-self: center;
    max-width: 170px;
    max-height: 170px;
    opacity: 0;
}

#fifth {
    position: absolute;
    left: -5%;
    top: 5%;
    align-self: flex-start;
    color: hwb(202 25% 17%);
    transform: rotate(-30deg);
    visibility: hidden;
}