@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

body {
    margin: 0;
}

.box {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#first {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#second {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#third {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}