@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

#text {
    font-family: 'Lora', sans-serif;
    font-size: 20px;
    top: 10%;
    text-align: center;
}

#cat {
    position: absolute;
    left: 10em;
    top: 10em;
    rotate: -10deg;
}

#dog {
    position: absolute;
    left: 17em;
    top: 25em;
    rotate: 30deg;
}

#ladybug {
    position: absolute;
    right: 10em;
    top: 10em;
    rotate: 45deg;
}

#dragonfly {
    position: absolute;
    right: 25em;
    top: 5em;
    rotate: -60deg;
}

#grasshopper {
    position: absolute;
    left: 30em;
    top: 10em;
    rotate: 80deg;
}

#hen {
    position: absolute;
    left: 5em;
    top: 20em;
    rotate: 15deg;
}

#parrot {
    position: absolute;
    right: 20em;
    top: 20em;
    rotate: 180deg;
}

.animated {
    animation-name: grow-and-shrink;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

@keyframes grow-and-shrink {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.5;
    }

    100% {
        scaele: 1;
    }
}